*.suo
*.user
*.ReSharper
_ReSharper*
*.sln.DotSettings
*.sln.iml
*.dotCover
*.orig
packages
.vs/
.vscode/
.idea/
bin/
obj/
/testResults
*.ncrunch*
*crunchsolution*
TestResult.xml
*.log
*.results
*.rdb
*.sass-cache*
node_modules
dist

